<h1>Step 2: Select your config and options</h1>

<ng-container *ngIf="dataLoaded && options; else loading">

    <label for="configSelect">Config: </label>
    <select id="configSelect" [formControl]="configurationFormManager.configIdControl">
        <option [value]="null">Choose...</option>
        <option *ngFor="let config of options.configs" [value]="config.id">{{config.description}}
        </option>
    </select>

    <div class="checkbox-container">
        <label for="includeYoke ">Yoke steering wheel? </label>
        <input type="checkbox" id="includeYoke" [formControl]="configurationFormManager.includeYokeControl"
            value="false">
    </div>


</ng-container>

<ng-template #loading>
    Loading...
</ng-template>