<h1>Step 2: Select your config and options</h1>

<ng-container *ngIf="dataLoaded && options; else loading">

    <label for="configSelect">Config: </label>
    <select id="configSelect" [formControl]="configurationFormManager.configIdControl">
        <option [ngValue]="null">Choose...</option>
        <option *ngFor="let config of options.configs" [ngValue]="config.id">{{config.description}}
        </option>
    </select>

    <ng-container *ngIf="selectedConfig">
        <p>Range: {{selectedConfig.range}} miles - Max speed: {{selectedConfig.speed}} - Cost: {{selectedConfig.price |
            currency: 'USD'}}</p>
    </ng-container>

    <div *ngIf="options.towHitch" class="checkbox-container">
        <label for="includeTow">Tow hitch? </label>
        <input type="checkbox" id="includeTow" [formControl]="configurationFormManager.includeTowControl" value="false">
    </div>

    <div *ngIf="options.yoke" class="checkbox-container">
        <label for="includeYoke ">Yoke steering wheel? </label>
        <input type="checkbox" id="includeYoke" [formControl]="configurationFormManager.includeYokeControl"
            value="false">
    </div>

</ng-container>

<ng-template #loading>
    Loading...
</ng-template>